.h {
  display: flex;
  justify-content: center;
  font-size: 3em;
  color: rgb(207, 33, 241);
}
.info {
  font-size: 1.7em;
  line-height: 2em;
}
.cardname {
  color: rgb(104, 1, 104);
}
.text {
  font-size: 1.7em;
  line-height: 2em;
}
.card {
  max-width: 40%;
  padding: 2em;
  background-color: #a7a0a0;
}
.images {
  max-width: 90%;
  border: 2px solid rgb(5, 5, 5);
  display: flex;
  justify-content: center;
}
.row1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 1em;
  padding-bottom: 1em;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 0.5em;
}
.row2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 2em;
  padding-top: 1em;
}
.inventory {
  display: flex;
  flex-wrap: wrap;
  max-width: 40%;
}
.mod1 {
  display: flex;
  flex-wrap: wrap;
  max-width: 40%;
}
.persist {
  max-width: 40%;
  display: flex;
  flex-wrap: wrap;
}
.basic {
  display: flex;
  flex-wrap: wrap;
  max-width: 40%;
}
.crud {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.contact-me {
  display: flex;
  justify-content: space-evenly;
  font-size: 3em;
  line-height: 1.6;
  padding: 2em;
  padding-bottom: 1em;
}
.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.twitter {
  max-width: 4em;
}
.twitter:hover {
  max-width: 5em;
}
.fb {
  max-width: 4em;
}
.fb:hover {
  max-width: 5em;
}
.insta {
  max-width: 4em;
}
.insta:hover {
  max-width: 5em;
}
.email {
  max-width: 5em;
}
.email:hover {
  max-width: 6em;
}
.git {
  max-width: 4em;
}
.git:hover {
  max-width: 5em;
}
.linked {
  max-width: 4em;
  border-radius: 15px;
}
.linked:hover {
  max-width: 5em;
}
@media screen and (max-width: 750px) {
  .h {
    font-size: 3em;
  }
  .info {
    font-size: 1em;
  }
  .text {
    font-size: 1em;
  }
  .rows {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
  }
  .card {
    max-width: 75%;
    align-self: center;
    margin-top: 2em;
  }
  .twitter {
    max-width: 2em;
  }
  .twitter:hover {
    max-width: 3em;
  }
  .fb {
    max-width: 2em;
  }
  .fb:hover {
    max-width: 3em;
  }
  .insta {
    max-width: 2em;
  }
  .insta:hover {
    max-width: 3em;
  }
  .email {
    max-width: 3em;
  }
  .email:hover {
    max-width: 4em;
  }
  .git {
    max-width: 2em;
  }
  .git:hover {
    max-width: 3em;
  }
  .linked {
    max-width: 2em;
    border-radius: 3px;
  }
  .linked:hover {
    max-width: 3em;
  }
}
