html {
  background-color: black;
  font-family: "Times New Roman", Times, serif;
  color: white;
  padding-bottom: 7em;
}
.header {
  background-color: white;
  padding-top: 0.25em;
  padding-left: 1em;
  max-height: 20em;
}
.head {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.headlink {
  text-decoration: none;
  font-size: 2em;
  color: black;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
.headlink:hover {
  text-decoration: none;
  font-weight: bolder;
  color: rgb(207, 33, 241);
}
.daelan {
  display: flex;
  justify-content: center;
  font-size: 4em;
  color: rgb(207, 33, 241);
}
.h {
  display: flex;
  justify-content: center;
  font-size: 3em;
  color: rgb(207, 33, 241);
}
.info {
  font-size: 1.7em;
  line-height: 2em;
}
.text {
  font-size: 1.7em;
  line-height: 2em;
}
.red {
  max-width: 40%;
  padding: 2em;
}
.redimg {
  max-width: 90%;
  border: 2px solid rgb(207, 33, 241);
  display: flex;
  justify-content: center;
}
.helpimg {
  max-width: 90%;
  border: 2px solid rgb(207, 33, 241);
  display: flex;
  justify-content: center;
}
.help {
  max-width: 40%;
  padding: 2em;
}
.row1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 1em;
  padding-bottom: 1em;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 0.5em;
}
.row2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 2em;
  padding-top: 1em;
}
.invpic {
  max-width: 90%;
  border: 2px solid rgb(207, 33, 241);
  display: flex;
  justify-content: center;
}
.mod1 {
  display: flex;
  flex-wrap: wrap;
  max-width: 40%;
}
.module1 {
  max-width: 90%;
  border: 2px solid rgb(207, 33, 241);
  display: flex;
  justify-content: center;
}
.basic-crud {
  max-width: 90%;
  border: 2px solid rgb(207, 33, 241);
  display: flex;
  justify-content: center;
}
.per-crud {
  max-width: 90%;
  border: 2px solid rgb(207, 33, 241);
  display: flex;
  justify-content: center;
}
.persist {
  max-width: 40%;
  display: flex;
  flex-wrap: wrap;
}
.basic {
  display: flex;
  flex-wrap: wrap;
  max-width: 40%;
}
.crud {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.contact-me {
  display: flex;
  justify-content: center;
  font-size: 3em;
  line-height: 1.6;
  padding: 2em;
  padding-bottom: 1em;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5em;
}
.twitter {
  max-width: 10%;
  padding: 3em;
}
.fb {
  max-width: 9%;
  padding: 3em;
}
.linked {
  max-width: 9%;
  padding: 3em;
}
.insta {
  max-width: 9%;
  padding: 3em;
}
.email {
  max-width: 13%;
  padding: 3em;
}
.git {
  max-width: 17%;
}
.git:hover {
  max-width: 20%;
}
.twitter:hover {
  max-width: 13%;
}
.fb:hover {
  max-width: 12%;
}
.linked:hover {
  max-width: 12%;
}
.insta:hover {
  max-width: 12%;
}
.email:hover {
  max-width: 15%;
}
