html {
  background-color: black;
  font-family: "Times New Roman", Times, serif;
  color: white;
  padding-bottom: 7em;
}
.header {
  background-color: white;
  padding-top: 0.25em;
  padding-left: 1em;
}
.head {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.headlink {
  text-decoration: none;
  font-size: 2em;
  color: black;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
.headlink:hover {
  text-decoration: none;
  font-weight: bolder;
  color: rgb(207, 33, 241);
}
.daelan {
  display: flex;
  justify-content: center;
  font-size: 4em;
  color: rgb(207, 33, 241);
}
.h {
  display: flex;
  justify-content: center;
  font-size: 3em;
  color: rgb(207, 33, 241);
}
.info {
  font-size: 1.7em;
  line-height: 2em;
}
.text {
  font-size: 1.7em;
  line-height: 2em;
}
.red {
  max-width: 40%;
  padding: 2em;
}
.redimg {
  max-width: 29em;
  border: 2px solid rgb(207, 33, 241);
}
.helpimg {
  max-width: 29em;
  border: 2px solid rgb(207, 33, 241);
}
.help {
  max-width: 40%;
  padding: 2em;
}
.row1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 1em;
  padding-bottom: 1em;
}
.git {
  max-width: 5em;
}
.gitpage {
  max-width: 13em;
  padding-top: 0.5em;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 0.5em;
}
.gitpage:hover {
  max-width: 15em;
  border: 2px solid rgb(207, 33, 241);
}
.git:hover {
  max-width: 6em;
  border: 2px solid rgb(207, 33, 241);
}
.row2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 2em;
  padding-top: 1em;
}
.invpic {
  max-width: 29em;
  border: 2px solid rgb(207, 33, 241);
}
.rep {
  max-width: 13em;
  padding-left: 5em;
  padding-right: 2em;
}
.inventory {
  max-width: 40%;
}
.mod1 {
  display: flex;
  flex-wrap: wrap;
  max-width: 40%;
}
.module1 {
  max-width: 29em;
  border: 2px solid rgb(207, 33, 241);
}
.basic-crud {
  max-width: 29em;
  border: 2px solid rgb(207, 33, 241);
}
.per-crud {
  max-width: 29em;
  border: 2px solid rgb(207, 33, 241);
}
.persist {
  max-width: 40%;
  display: flex;
  flex-wrap: wrap;
}
.basic {
  display: flex;
  flex-wrap: wrap;
  max-width: 40%;
}
.crud {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.rep:hover {
  max-width: 14em;
  border: 2px solid rgb(207, 33, 241);
}
