html {
  background-color: white;
  font-family: "Times New Roman", Times, serif;
}
.header {
  background-color: black;
  padding-top: 1em;
  padding-left: 1em;
  max-height: 20em;
}
.head {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.headlink {
  text-decoration: none;
  font-size: 2em;
  color: white;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
.headlink:hover {
  text-decoration: none;
  font-weight: bolder;
  color: rgb(207, 33, 241);
}
.daelan {
  display: flex;
  justify-content: center;
  font-size: 4em;
  color: rgb(207, 33, 241);
}
.about-m {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
  padding: 2em;
  padding-top: 1.5em;
  font-size: 2em;
}
.about-h {
  display: flex;
  justify-content: center;
}
.know {
  background-color: black;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}
.what-know {
  background-color: black;
  display: flex;
  justify-content: center;
  line-height: 1.6;
  font-size: 3em;
}
.skill {
  display: flex;
  justify-content: center;
  font-size: 2em;
  line-height: 1.6;
  padding: 2em;
}
.contact {
  background-color: black;
  color: white;
  padding-bottom: 2em;
}

.projects {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 3em;
  color: Black;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
.i-know {
  padding: 3em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.boot {
  max-width: 14em;
  padding: 0.5em;
}
.sql {
  max-width: 12em;
  padding: 0.5em;
}
.python {
  width: 9em;
  padding: 0.5em;
}
.html {
  width: 7em;
  padding: 0.5em;
}
.css {
  max-width: 7em;
  padding: 0.5em;
}
.gitlogo {
  max-width: 7em;
  padding: 0.5em;
}
.pic {
  max-width: 10em;
  display: flex;
  padding: 2em;
  border-radius: 40em;
  align-content: center;
}
body {
  margin: 0;
}
@media screen and (max-width: 750px) {
  .daelan {
    font-size: 3em;
  }
  .head {
    font-size: 0.5em;
    padding-bottom: 2em;
  }
  .about-m {
    font-size: 1em;
  }
  .what-know {
    font-size: 1.5em;
  }
  .know {
    font-size: 1em;
  }
  .projects {
    font-size: 2em;
  }
  .python {
    max-width: 4em;
    padding: 0.5em;
  }
  .html {
    max-width: 3em;
    padding: 0.5em;
  }
  .css {
    max-width: 3em;
    padding: 0.5em;
  }
  .gitlogo {
    max-width: 3em;
    padding: 0.5em;
  }
  .i-know {
    display: flex;
    justify-content: space-evenly;
  }
  .contact {
    font-size: 0.7em;
  }
  .boot {
    max-width: 5em;
  }
  .django {
    max-width: 4em;
  }
  .java {
    max-width: 4em;
  }
  .js {
    max-width: 3.5em;
  }
  .spring {
    max-width: 8em;
  }
  .sql {
    max-width: 6em;
  }
}
