html {
  background-color: white;
  font-family: "Times New Roman", Times, serif;
}
.header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.headlink {
  text-decoration: none;
  color: white;
}
.headlink:hover {
  text-decoration: none;
  color: rgb(246, 248, 91);
}
.about-m {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.6;
  padding: 1em;
}
.links {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.twitter {
  max-width: 10%;
}
.fb {
  max-width: 9%;
}
.linked {
  max-width: 9%;
}
.insta {
  max-width: 9%;
}
.email {
  max-width: 13%;
}
