html {
  background-color: white;
  font-family: "Times New Roman", Times, serif;
}
.header {
  background-color: black;
  padding-top: 1em;
  padding-left: 1em;
  max-height: 20em;
}
.head {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.headlink {
  text-decoration: none;
  font-size: 2em;
  color: white;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
.headlink:hover {
  text-decoration: none;
  font-weight: bolder;
  color: rgb(207, 33, 241);
}
.daelan {
  display: flex;
  justify-content: center;
  font-size: 4em;
  color: rgb(207, 33, 241);
}
.about-m {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.6;
  padding: 2em;
  padding-top: 1.5em;
  font-size: 2em;
}
.know {
  background-color: black;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}
.what-know {
  background-color: black;
  display: flex;
  justify-content: center;
  line-height: 1.6;
  font-size: 3em;
}
.skill {
  display: flex;
  justify-content: center;
  font-size: 2em;
  line-height: 1.6;
  padding: 2em;
}
.contact {
  background-color: black;
  color: white;
  padding-bottom: 2em;
}

.projects {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 3em;
  color: Black;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
@media screen and (max-width: 750px) {
  .daelan {
    font-size: 3em;
  }
  .head {
    font-size: 0.5em;
    padding-bottom: 2em;
  }
  .about-m {
    font-size: 1em;
  }
  .what-know {
    font-size: 1.5em;
  }
  .know {
    font-size: 1em;
  }
  .projects {
    font-size: 2em;
  }
}
